[settings]
profile = black
multi_line_output = 3
include_trailing_comma = True
force_grid_wrap = 0
use_parentheses = True
ensure_newline_before_comments = True
line_length = 100
skip =
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    .venv,
    .tox,
    .pytest_cache,
    .coverage,
    coverage_html,
    .mypy_cache,
    .vscode,
    .idea
skip_glob = .venv/*
sections =
    FUTURE,
    STDLIB,
    THIRDPARTY,
    FIRSTPARTY,
    LOCALFOLDER
default_section = THIRDPARTY
known_first_party = app
known_third_party =
    pydantic,
    openai,
    tenacity,
    pyyaml,
    loguru,
    numpy,
    datasets,
    fastapi,
    tiktoken,
    html2text,
    gymnasium,
    pillow,
    browsergym,
    uvicorn,
    unidiff,
    browser_use,
    googlesearch_python,
    baidusearch,
    duckduckgo_search,
    aiofiles,
    pydantic_core,
    colorama,
    playwright,
    docker,
    pytest,
    coverage,
    mcp,
    httpx,
    tomli,
    boto3,
    requests,
    beautifulsoup4,
    huggingface_hub,
    setuptools,
    markdown
